In [ ]:
import pandas as pd
import json

In [ ]:
events = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_events.csv"
)
places = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_places.csv"
)
places_to_types = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_places_to_types.csv"
)
feature_types = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_feature_types.csv"
)
event_types = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_event_types.csv"
)
places.head()

  yrdb_id tr_title      ch_pinyin
0   yrdb1      交口鎮   jiaokou zhen
1   yrdb2       交河        jiao he
2   yrdb3      交漳村  jiaozhang cun
3   yrdb6      交道鎮   jiaodao zhen
4   yrdb7     亦雜石營   yizashi ying

In [10]:
places.shape

(3449, 3)

In [17]:
locs = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_locations_final.csv"
)
locs = locs.drop_duplicates(subset=["Place_id"], keep="first")
locs.shape

(3449, 5)

In [18]:
pt_df = places.join(places_to_types.set_index("yrdb_id"), on="yrdb_id", how="left")
pt_df = pt_df.join(locs.set_index("Place_id"), on="yrdb_id", how="left")
pt_df.head()

,yrdb_id,tr_title,ch_pinyin,ft_id,Location_id,Attestation,Latitude,Longitude
0,yrdb1,交口鎮,jiaokou zhen,town,loc_0001,us_80111,110.215097,36.672192
1,yrdb2,交河,jiao he,river,loc_0003,ds_1019,116.284383,38.018758
2,yrdb3,交漳村,jiaozhang cun,village,loc_0004,us_70156,113.551184,36.924576
3,yrdb6,交道鎮,jiaodao zhen,town,loc_0006,us_80136,109.449483,35.951411
4,yrdb7,亦雜石營,yizashi ying,encampment,loc_0009,us_80319,101.309960,36.215818

In [13]:
print(pt_df.shape)
print(pt_df["yrdb_id"].nunique())

(3449, 4)
3449

In [24]:
events_to_places = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_events_to_places.csv"
)
events_to_types = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_events_to_types_final.csv"
)
events_to_sources = pd.read_csv(
    "https://raw.githubusercontent.com/YellowRiverDatabase/geodata/refs/heads/main/relational-datadata/yrdb_events_to_sources.csv"
)
events_to_sources.head()

,Unnamed: 0,evtps_id,ev_id,source_id,source_text,notes
0,0,NaN,ev_1,NaN,燧人氏時天下多水。,NaN
1,0,NaN,ev_2,NaN,湯湯洪水方割，蕩蕩懷山襄陵，浩浩滔天……,NaN
2,0,NaN,ev_3,NaN,當堯之時，天下猶未平。洪水橫流，泛濫於天下，草木暢茂；禽獸繁殖；五穀不登，禽獸逼人。獸蹄鳥跡...,NaN
3,0,NaN,ev_4,NaN,昔禹之湮洪水、決江河而通四夷九州也，名山三百，支川三千，小者無數。禹親自操橐耜，而九雜天下之川。,NaN
4,0,NaN,ev_5,NaN,洪水滔天……,NaN

In [ ]:
# ev_df = events.join()